/**
 * style for pris admin pages
 */
/*common*/
label{cursor: pointer; vertical-align: -4px;}
select, textarea, input{box-shadow: none; vertical-align: -4px;}
.text.ipt_eror, textarea.ipt_eror{border-color: #ff0000;}
textarea{border: 1px solid #949494; color: #4B4B4B;}
[ng\:cloak], [ng-cloak], .ng-cloak {display: none;}
.sortable{cursor: pointer;}
.mod_adm{padding-left: 310px;}
.mod_adm_l, .mod_adm_r{border: 1px solid #e7e7e7;}
.mod_adm_l{position: relative; *position: static; left:-310px; float: left; width: 300px; margin-left: -100%;}
.mod_adm_r{position: relative; float: left; width: 100%;}
.mask_adm_r{display: none; position: absolute; top:0; left:0; right: 0; bottom: 0; width: 100%; height: 100%; background:#000; opacity:.1; filter:alpha(opacity=10);}
.mod_adm_r .tr .black_btn{margin: 10px;}
/*person selector*/
.tls_table, .tls_result{width: 282px; border: 1px solid #e7e7e7;}
.tls_menuPriv h5{font-size: 12px;}
.tls_menuPriv h5 span{margin-left: 165px;}
.tls_menuPriv{*height: 328px;}
.tls_adm{padding: 5px;     
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;}
.tls_adm h4{font-size: 12px;}
.tls_thSpan{width: 142px;}
.tls .selected td, .tls tr:hover td, .tls .selected, .tls .selected:hover{color: #0067B1;}
/*zTree*/
.ztree li span.button.add {margin-left:2px; margin-right: -1px; background-position:-144px 0; vertical-align:top; *vertical-align:middle}
.ztree li span{background: #fff;}
.ztree li .curSelectedNode span{background: #FFE6B0;}
.main .ztree li a.curSelectedNode{opacity: 1;}
/*table*/
.table_admin th{padding: 10px 2px;}
.table_admin td{text-align: center; word-wrap:break-word;}
/*module filter*/
.item{/*margin: 0; */padding-bottom: 10px;}
.pop_win .item{padding: 0;}
.mod_filter{margin-top: -1px; padding:10px; border: 1px solid #e7e7e7;}
.mod_filter .item{float: left; height: 25px; width: 305px;}
.item .text {width: 168px;}
.item select, .item .checkbox{position: static;}
.item .label {float: left; width: 120px; padding: 0 5px 0 0; line-height: 24px; text-align: right;}
.mod_filter select{width: 180px;}
.item_short .text{width: 66px;}
.item .valid_eror {
  color: #FF0000;
  padding: 2px 0 0 125px;
  word-break: break-all;
}
/*changed list*/
.tab_pLnk .on{color:#00AEFF;}
/*menu*/
.ng-scope .mod_toggle{margin: 10px 0 0;}
.mod_toggle{margin: 10px 5px 0; padding-bottom: 10px;}
.mod_toggle h4{cursor: pointer;}
.toggle_con{background: #fff;}
.mod_toggle.on h4{padding: 0 2px;}
/*loading*/
.tip_loading{padding-top: 5px; text-align: center;}
/*page nav*/
.page_nav{padding:10px 0; margin:0;}
.page_nav .disabled a, .page_nav .disabled a:hover{border-color: #999; color: #999; cursor: default; background: #fff;}
/*import staff*/
.mod_staff{margin-top: -1px; padding:0 10px 10px; border:1px solid #E7E7E7;}
/*add new staff*/
.filter_staff textarea{width: 300px; height: 100px; padding: 10px; margin-top: 10px;}
/*pop up window*/
/*.pop_win_mask, .pop_win_in{display: block;}*/
.pop_win_in .mod_input{border: none;}
.pop_win_edit{width: 598px;}
.pop_costcenter .label{width: 220px;}
.pop_costcenter .valid_eror{padding-left: 225px;}
.pop_win_edit textarea{width: 350px;}
.pop_win_edit .text{width: 360px;}
.pop_win .auto_c_btn{margin:0 0 0 10px;}
.pop_win_in .checkbox{top:0;}


