<!-- main content -->
<div class="main wrap clearfix">
    <h3 class="pg_tit">Team Management</h3>
    <!-- angularWrap -->
    <!-- <div id="angularWrap" data-source="../js/json/listStaff.json"> -->
        <div id="angularWrap" data-prefix="SystemMenuWebAPIJSon/GetTeam" data-source="SystemMenuWebAPIJSon/GetTeam?from=&to=&costcenter=&teamname=">

        <!-- mod_filter -->
        <div class="mod_filter filter_staff clearfix">
            <div class="clearfix">
                <div class="item">
                    <label class="label" for="teamname">Team Name:</label>
                    <input ng-model="search.teamname" ng-init="search.teamname=''" type="text" class="text" id="teamname" name="teamname" />
                </div>
                <div class="item item_short">
                    <label class="label" for="from">Date From:</label>
                    <input datepicker ng-model="search.from" ng-init="search.from=''" name="from" type="text" id="from" class="text" />
                    To:
                    <input datepicker ng-model="search.to" ng-init="search.to=''" name="to" type="text" id="to" class="text" />
                </div>
            </div>
            <p class="tr">
                <button ng-click="itemSearch(search)" type="button" class="js_showPopBtn auto_btn prim">Search</button>
            </p>
        </div>
        <!-- / mod_filter -->

        <p class="mt tr">
            <a ng-click="showMaskFun(newItem)" class="js_showPopBtn act_add ml" href="javascript:;"><i class="addNewIco"></i>Add New</a>   
        </p>

        <!-- page_nav -->
        <div class="page_nav mt clearfix">
            <ul class="fr">
                <li ng-class="{disabled: currentPage == 0}" ng-click="prevPage()">
                    <a href="javascript:;">« Prev</a>
                </li>
                <li ng-click="setPage(10)">
                    <span>{{currentPage+1}}/{{numberOfPages()}}</span>
                </li>
                <li ng-class="{disabled: currentPage >= numberOfPages() - 1}" ng-click="nextPage()">
                    <a href="javascript:;">Next »</a>
                </li>
            </ul>
        </div>
        <!-- / page_nav -->

        <table class="table_admin table_menu">
            <thead>
                <tr>
                    <th class="sortable" ng-click="orderByField='iTUnit'; reverseSort = !reverseSort">
                        IT Unit
                        <span ng-show="orderByField == 'iTUnit'">
                            <b ng-show="reverseSort">↑</b>
                            <b ng-show="!reverseSort">↓</b>
                        </span>
                    </th>
                    <th class="sortable" ng-click="orderByField='teamName'; reverseSort = !reverseSort">
                        Team Name
                        <span ng-show="orderByField == 'teamName'">
                            <b ng-show="reverseSort">↑</b>
                            <b ng-show="!reverseSort">↓</b>
                        </span>
                    </th>
                    <th width="300">Manager</th>
                    <th>Creat Time</th>
                    <th>Status</th>
                    <th>Operation</th>
                </tr>
            </thead>
            <tbody>
                <tr class="tip_loading">
                    <td colspan="6">
                        <img src="../images/pris_loading.gif" alt="loading" />
                    </td>
                </tr>
                <tr ng-repeat="item in items | orderBy:orderByField:!reverseSort | startFrom: currentPage*numLimit |  limitTo: numLimit" ng-cloak>
                    <td>{{item.iTUnit}}</td>
                    <td>{{item.teamName}}</td>
                    <td>{{item.manager}}</td>
                    <td>{{item.createTime}}</td>
                    <td>{{item.status}}</td>
                    <td>
                        <span class="js_showPopBtn" ng-click="editItem(item, 'team')"><i class="penIco"></i></span>
                        <button class="js_showPopBtn del binIco" type="button" ng-click="removeItem(item, 'team')"><i></i></button>
                    </td>
                </tr>
            </tbody>
        </table>

        <!-- page_nav -->
        <div class="page_nav clearfix">
            <ul class="fr">
                <li ng-class="{disabled: currentPage == 0}" ng-click="prevPage()">
                    <a href="javascript:;">« Prev</a>
                </li>
                <li ng-click="setPage(10)">
                    <span>{{currentPage+1}}/{{numberOfPages()}}</span>
                </li>
                <li ng-class="{disabled: currentPage >= numberOfPages() - 1}" ng-click="nextPage()">
                    <a href="javascript:;">Next »</a>
                </li>
            </ul>
        </div>
        <!-- / page_nav -->

    </div>
    <!-- / angularWrap -->
</div>
<!-- / main content -->


<!--mask of pop up window-->
<div id="pop_win_mask" class="pop_win_mask" ></div>
<!-- pop up window -->
<div id="pop_win" class="pop_win">                
    <div class="pop_win_in_mask"></div>
    <!--loading image, class 'none'=" display:none"-->
    <div id="pop_loading" class="pop_win_in center pop_loading">
        <img src="../images/pris_loading.gif" alt="loading" />
    </div>
    <div id="pop_dialog" class="pop_win_in center ">
        <p class="tc mb">Are you sure to delete?</p>
        <button ng-click="removeNow()" class="auto_btn prim" type="button">YES</button>
        <button class="auto_btn pop_win_close" type="button">&nbsp;NO&nbsp;</button>
    </div>
    <div id="pop_win_edit" class="pop_win_in pop_win_blue pop_win_edit" ng-show="popUpStatus">
        <h4>Team Information</h4>

        <form name="menuForm" action="" ng-submit="submitForm(menuForm.$valid, newItem, 'team')" novalidate>
            <div class="mod_input">

                <div class="item clearfix">
                    <label for="teamName" class="label"><b>*</b>Team Name:</label>
                    <input ng-model="newItem.teamName" type="text" class="text" id="teamName" ng-validator required name="teamName" />
                    <p class="valid_eror" ng-show="menuForm.teamName.$error">Required.</p>
                </div>

                <div class="item clearfix">
                    <label for="iTUnitId" class="label"><b>*</b>IT Unit (Division):</label>
                    <select ng-model="newItem.iTUnitId" name="iTUnitId" id="iTUnitId" ng-validator required>
                        <option value=""></option>
                        <option ng-repeat="itUnit in itUnits" value="{{itUnit.id}}">{{itUnit.name}}</option>
                    </select>
                    <p class="valid_eror" ng-show="menuForm.iTUnitId.$error">Required.</p>
                </div>

                <div class="item clearfix">
                    <label for="managerId" class="label"><b>*</b>Manager:</label>
                    <input ng-model="newItem.managerId" type="text" class="text" id="managerId" ng-validator required name="managerId" placeholder="ID should be number, use comma to seperate multiple ID"  />
                    <p class="valid_eror" ng-show="menuForm.managerId.$error">Required.</p>
                </div>

                <div class="item clearfix">
                    <label for="status" class="label"><b>*</b>Status:</label>
                    <select ng-model="newItem.status" name="status" id="status" ng-validator required>
                        <option value=""></option>
                        <option value="1">Normal</option>
                        <option value="0">Termination</option>
                    </select>
                    <p class="valid_eror" ng-show="menuForm.status.$error">Required.</p>
                </div>

                <p class="tr mt">
                    <button class="auto_c_btn prim sbmt" type="submit">Save</button>
                </p>
            </div>
        </form>

        <i class="closeIco pop_win_close"></i>

    </div>
</div>
<!-- / pop up window -->
